<!DOCTYPE html>
<link rel="stylesheet" href="../css/metro-all.css">
<script src="../js/metro.min.js"></script>
<body style="min-width: 1280px;">
<div style="position:absolute;font-size: 10px;color: red;font-weight: 500;top:95px;left: 10px">
    <span style="white-space: pre-wrap">{{.Message}}</span>

</div>
<form action="/">
    <div style="position: absolute;padding-left: 45px;padding-top: 35px">
        <input style="width: 150px" class="button primary" type="submit" value="Reset"/>
    </div>
</form>
<div id="inputs" style="margin: auto; width: 50%">
    <form action="/data_input">
        <div class="row {{.UserDisabled}}" style="padding: 30px 5px 5px;">
            <div class="cell-9">
                <input {{.UserFocus}} type="text" data-role="input" data-prepend="<span class='mif-user'></span>"
                                      placeholder="{{.Username}}" name="userid" data-default-value="{{.UsernameValue}}">
            </div>
            <div class="cell-3">
                <input style="width: 100%" class="button primary {{.UserDisabled}}" type="submit"
                       value="Potvrdit"/>
            </div>
        </div>
        <div class="row {{.OrderDisabled}}" style="padding: 5px">
            <div class="cell-9">
                <input {{.OrderFocus}} type="text" data-role="input" data-prepend="<span class='mif-open-book'></span>"
                                       placeholder="{{.Order}}" name="orderid" data-default-value="{{.OrderValue}}">
            </div>
            <div class="cell-3">
                <input style="width: 100%" class="button primary {{.OrderDisabled}}" type="submit"
                       value="Potvrdit"/>
            </div>
        </div>
        <div class="row {{.OperationDisabled}}" style="padding: 5px">
            <div class="cell-9">
                <input {{.OperationFocus}} type="text" data-role="input" data-prepend="<span class='mif-lines'></span>"
                                           placeholder="{{.Operation}}" name="operationid"
                                           data-default-value="{{.OperationValue}}">
            </div>
            <div class="cell-3">
                <input style="width: 100%" class="button primary {{.OperationDisabled}}" type="submit"
                       value="Potvrdit"/>
            </div>
        </div>
        <div class="row {{.WorkplaceDisabled}}" style="padding: 5px">
            <div class="cell-9">
                <select {{.WorkplaceFocus}} data-role="select" data-prepend="<span class='mif-home'></span>"
                                            placeholder="{{.Workplace}}" name="workplaceid">
                    {{range .Workplaces}}
                        <option>{{.Zapsi_zdroj}}</option>
                    {{end}}
                </select>
            </div>
            <div class="cell-3">
                <input style="width: 100%" class="button primary {{.WorkplaceDisabled}}"
                       type="submit" value="Potvrdit"/>
            </div>
        </div>

        <div class="row {{.OkDisabled}}" style="padding: 5px">
            <div class="cell-5">
                <input {{.OkFocus}} type="text" data-role="input"
                                    data-prepend="<span class='mif-checkmark'></span>"
                                    placeholder="{{.Ok}}" name="ok" data-default-value="{{.OkValue}}">
            </div>
            <div class="cell-4">
            </div>
        </div>
        <div class="row {{.NokDisabled}}" style="padding: 5px">
            <div class="cell-5">
                <input {{.NokFocus}} type="text" data-role="input" data-prepend="<span class='mif-cross'></span>"
                                     placeholder="{{.Nok}}" name="nok" data-default-value="{{.NokValue}}">
            </div>
            <div class="cell-4">
                <select {{.NokFocus}} data-role="select" data-prepend="<span class='mif-list'></span>"
                                      placeholder="{{.Nok}}" name="noktype">
                    {{range .NokTypes}}
                        <option>{{.Nazev}}</option>
                    {{end}}
                </select>
            </div>
            <div class="cell-3">
                <input style="width: 100%" class="button primary {{.OkDisabled}}" name="checkok" type="submit"
                       value="Potvrdit"/>
            </div>
        </div>


        <div class="row" {{.RadioDisabled}}>
            <div class="cell-4">
                <input {{.ClovekDisabled}} name="syteline" type="radio" data-role="radio" value="clovek">Člověk
            </div>
            <div class="cell-4">
                <input {{.SerizeniDisabled}} name="syteline" type="radio" data-role="radio" value="serizeni">Seřízení
            </div>
            <div class="cell-4">
                <input {{.StrojDisabled}} name="syteline" type="radio" data-role="radio" value="stroj">Stroj
            </div>
        </div>
        <br>
        <br>
        <div class="row" style="margin: auto">
            <div class="cell-4">
                <input style="width: 100%;height: 50px;font-weight: bold" class="button success {{.StartOrderButton}}"
                       type="submit" name="startorder" value="Začátek"/>
            </div>
            <div class="cell-4">
                <input style="width: 100%;height: 50px;font-weight: bold" class="button alert {{.EndOrderButton}}"
                       type="submit" name="endorder" value="Konec"/>
            </div>
            <div class="cell-4">
                <input style="width: 100%;height: 50px;font-weight: bold" class="button dark {{.TransferOrderButton}}"
                       type="submit" name="transferorder" value="Přenos"/>
            </div>
        </div>
    </form>
</div>

<div id="ordertable" style="padding: 50px">
    <table class="table">
        <thead>
        <tr>
            <th>Kód</th>
            <th>Zakázka</th>
            <th>Produkt</th>
            <th>Pracoviště</th>
            <th>Začátek</th>
            <th>Plán</th>
            <th>Vyrobeno celkem</th>
            <th>Vyrobeno na zakázce</th>
            <th>Odvedeno celkem</th>
            <th>Odvedeno na zakázce</th>
            <th>Zbývá odvést</th>
            <th>Nok celkem</th>
        </tr>
        </thead>
        <tbody>
        {{range .DisplayOrder}}
            <tr>
                <td>{{.OrderCode}}</td>
                <td>{{.OrderName}}</td>
                <td>{{.ProductName}}</td>
                <td>{{.WorkplaceName}}</td>
                <td>{{.OrderStart}}</td>
                <td>{{.OrderRequestedTotal}}</td>
                <td>{{.OrderCountTotal}}</td>
                <td>{{.OrderCountActual}}</td>
                <td>{{.OrderSendToSytelineTotal}}</td>
                <td>{{.OrderSendToSytelineActual}}</td>
                <td>{{.ForSave}}</td>
                <td>{{.OrderSendToSytelineNokTotal}}</td>
            </tr>
        {{end}}
        </tbody>
    </table>
</div>

<div class="text"
     style="position:absolute;font-size: 1vw;font-weight: 100;bottom:2%;right:1%">
    {{.Version}}
</div>
<div class="text-leader"
     style="position:absolute;font-size: 1.5vw;font-weight: 500;bottom:1%;left:50%;transform: translate(-50%);">
    www.zapsi.eu
</div>
</body>

